@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #050505;
  color: white;
}

::selection {
  background: rgba(59,130,246,0.4);
}

.glow {
  position: absolute;
  border-radius: 9999px;
  filter: blur(120px);
  opacity: 0.2;
}